name: Test

on:
  push:
    branches:
      - master

jobs:
  test:
    # We want to define a strategy for our job
    strategy:
      # this will contain a matrix of all of the combinations
      # we wish to test again:
      matrix:
        go-version: [1.9.x, 1.10.x, 1.11.x, 1.12.x, 1.13.x, 1.14.x, 1.15.x]
        platform: [windows-latest, ubuntu-latest, macos-latest]

    # Defines the platform for each test run
    runs-on: ${{ matrix.platform }}

    # the steps that will be run through for each version and platform
    # combination
    steps:
      # sets up go based on the version
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}

      # checks out our code locally so we can work with the files
      - name: Checkout code
        uses: actions/checkout@v2

      # runs go test ./...
      - name: Test and generate coverage report
        run: |
          go test ./... -timeout 20m -race -coverprofile=coverage.txt -covermode=atomic
